doctype html
html(lang="en")

    - const title = 'Home123';
    include pug/head

    body
        main
            include pug/header
            p.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, obcaecati. Quasi dolore ipsa laborum tempora nisi nobis aut tenetur maxime doloribus! Nostrum ducimus laborum minus doloremque maxime, nobis harum ullam nemo tenetur nam quo repellat hic! Doloremque debitis temporibus nam fugit expedita ullam commodi odit.
        script(src="js/app.min.js")
